---
permalink: /
layout: home
title: Calorosamente bem-vindos
---

We want to
* go for the first time with the camper
* drive through Portugal
* have fun

And we do not want to start the whole thing unprepared.
* therefore I am starting to learn Portuguese
* we will learn about portuguese history
* we do a lot of research on the internet

Here we collect our findings.
Maybe you would like to have a look here as well. 
Maybe one or the other idea will come up for you. 

Who knows - maybe one or the other will even contact me.

Whatever your motives are for hanging around here, enjoy your time here.

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
